<div  *ngIf ="popUp" style=" overflow: auto; position: fixed;" > <img src = "./../assets/OIF.jpg"></div>
<div id = "clickAble"><img  style="border-radius: 100%; width: 40px" (click)="onclick()" src = "./../assets/OIF.jpg">asdklfjlkasjdflkjsdaflkjsdalkfjdslkjfsdl;kjflkasdjf
    <p (click) = "onclick()">
    sdlkjflkdsjfl;kjflkasdjfjklfdaldkjflsdkajf</p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>
    <p>
        asdjfkl;sdjfjsdlkfjsdlk;ajflksdjflksdjfklsdjflkjsdfljksdlkjf
    </p>

</div>