<div >

<div style="width: 20%; height: 4%; float: left; margin-top: 1%; margin-left: 1%;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>sdfdas</mat-card-title>
      <mat-card-subtitle>kljasd</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/OIF.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>item desc
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add To Cart</button>
      <button mat-button>Buy</button>
    </mat-card-actions>
  </mat-card>
</div> 
<div style="width: 20%; height: 4%; ; float: left; margin-top: 1%; margin-left: 1%;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>sdfdas</mat-card-title>
      <mat-card-subtitle>kljasd</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/OIF.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>item desc
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add To Cart</button>
      <button mat-button>Buy</button>
    </mat-card-actions>
  </mat-card>
</div> 
</div>
  