
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-black: (
    50 : #F2BFA4,
    100 : #b9b9b9,
    200 : #F5E7DEn,
    300 : #5b5b5c,
    400 : #373739,
    500 : #141416,
    600 : #121213,
    700 : #0e0e10,
    800 : #0b0b0c,
    900 : #060606,
    A100 : #ff4e4e,
    A200 : #ff1b1b,
    A400 : #e70000,
    A700 : #ce0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$itsApexUi-primary: mat.define-palette($md-black, 50,50,50);
$itsApexUi-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$itsApexUi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$itsApexUi-theme: mat.define-light-theme((
  color: (
    primary: $itsApexUi-primary,
    accent: $itsApexUi-accent,
    warn: $itsApexUi-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($itsApexUi-theme);

